---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-full mx-auto max-w-[1000px]">
			<section class="w-full justify-center items-center flex flex-col pt-48">
				<h1 class=" text-center font-extrabold text-7xl text-gray-800">This is <span class="font-extrabold text-transparent text-6xl bg-clip-text bg-gradient-to-r from-blue-600 to-green-300">Arquimedes.js</span></h1>
				<h1 class="text-xl text-center mt-3 text-gray-600 ">The physics engine made for Javascript</h1>
				<div class=" mt-10">
					<a href="/docs/first-post" class="bg-blue-500 rounded-lg p-2 px-6 font-semibold mt-4 text-white cursor-pointer">
						Get started
					</a >
				</div>
				<span class="mt-5 mb-5">
					or just install
				</span>
				<div class=" bg-gray-200 text-gray-800 px-6 pr-8 py-4 rounded-xl">
					<span class="text-gray-400">$</span> <span class="font-semibold text-gray-800 ml-3">npm i arquimedes@latest</span>
				</div>
			</section>
			<section class="mt-52 ">

				<h1 class="mt-20 text-xl text-gray-500" >¿What is arquimedes?</h1>
				<h2 class="text-3xl mt-2 font-semibold max-w-[900px]">Arquimedes.js is a lightweight 2D physics engine for realistic simulations, ideal for visualizing and experimenting with physical concepts in real-time</h2>
				<div class="mt-10 flex gap-5 mb-32">
					<div class="gap-4 px-5 pr-16 bg-gray-100 py-4 rounded-lg font-semibold text-gray-600 flex items-center">
						<div class="h-[55px] bg-blue-500 w-[55px] rounded-lg flex justify-center items-center">
							<div class="bg-white h-[20px] w-[20px] rounded-full">
							</div>
						</div>
						Particle physics
					</div>
					<div class="gap-4 px-5 pr-12 bg-gray-100 py-4 rounded-lg font-semibold text-gray-600 flex items-center">
						<div class="h-[55px] bg-blue-500 w-[55px] rounded-lg flex justify-center items-center">
							<div class="grid grid-cols-3 gap-2">
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
								<div class="bg-white h-[7px] w-[7px] rounded-full">
								</div>
							</div>
						</div>
						Rigidbody physics
					</div >
					<div class="gap-4 px-5 pr-16 bg-gray-100 py-4 rounded-lg font-semibold text-gray-600 flex items-center">
						<div class="h-[55px] bg-blue-500 w-[55px] rounded-lg flex justify-center items-center">
							<div class="bg-white h-[20px] w-[20px] rounded-full">
							</div>
							<div class="bg-white h-[20px] w-[20px] rounded-full">
							</div>
						</div>
						Collisions
					</div>

				</div>
				<section class="mb-20">
					<h1 class="mt-20 text-xl text-gray-500" >¿How it works?</h1>
					<h2 class="text-3xl mt-2 font-semibold max-w-[900px]">Just write a bit of code...</h2>
					<div class="w-full grid grid-cols-2 mt-10 gap-8">
						<div class="text-white bg-gray-100 rounded-xl p-6">
							<div class="flex gap-4 mb-5">
								<div class="h-[10px] w-[10px] bg-green-500 rounded-full"></div>
								<div class="h-[10px] w-[10px] bg-red-500 rounded-full"></div>
								<div class="h-[10px] w-[10px] bg-yellow-500 rounded-full"></div>
							</div>
							<code class="prettyprint">
							import { 'Universe' } from "arquimedes/universe"<br>
							import { 'P5UniverseRenderer' } from "arquimedes/universe/renderers"<br>

							<br>
							const universe = new Universe();<br>
							const renderer = new P5UniverseRenderer(universe);<br>
							<br>

							setFixedDeltaTimeout((dt) => renderer.render(dt), 1000 / 60)


							</code>
						</div>
						<div>
							<img class="rounded-lg shadow-lg" src="public/cap2.png">
						</div>

					</div>
				</section>
			</section>
		</main>
		<Footer />
	</body>
</html>
