---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="fixed w-full z-30">
	<nav class="w-full  flex border-b-[0.07rem] items-center border-gray-200 p-5 justify-between px-3 md:px-10 bg-white dark:bg-gray-900 dark:border-gray-700">
		<h2 class="font-semibold text-green-500 text-2xl" ><a href="/">Bilern</a></h2>

		<div class="flex gap-5">

		<div class="flex flex-col gap-[3px] alert md:hidden">
			<div class="w-[18px] h-[2px] bg-gray-800 dark:bg-gray-200"></div>
			<div class="w-[18px] h-[2px] bg-gray-800 dark:bg-gray-200"></div>
			<div class="w-[18px] h-[2px] bg-gray-800 dark:bg-gray-200"></div>
		</div>
		</div>
		<div class="flex gap-10 items-center">
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="#inicio">Inicio</HeaderLink>
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="#bilern">¿Qué es bilern?</HeaderLink>
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="#metodo">Nuestro método</HeaderLink>
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="#faqs">Faqs</HeaderLink>
		</div>
		<div class="gap-4 hidden md:flex">
		  <div class="px-9 py-2 bg-green-400 text-white cursor-pointer font-semibold rounded-md">Quiero ser Bilern</div>
		</div>
	</nav>
		<div class="bg-white dark:bg-gray-800 p-5 border-b-[0.07rem] dark:border-gray-700 bg-gray-200 flex flex-col hidden obscure gap-3">
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="/">Home</HeaderLink>
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="/docs">Documentation</HeaderLink>
			<HeaderLink class="text-md text-gray-500 dark:text-gray-300" href="/contributors">Contributors</HeaderLink>
		</div>
	</nav>
</header>

<script>
	/* @ts-ignore */
	feather.replace();

	const buttons = document.querySelectorAll('div.alert');
	const obscure = document.querySelectorAll('div.obscure');

	buttons.forEach((button) => {
		button.addEventListener('click', () => {
			obscure.forEach((x) => {
				x.classList.toggle("hidden")
			})

		});
	});
	const toggleButton = document.getElementById('darkModeToggle');
	const sunIcon = document.getElementById('sunIcon');
	const moonIcon = document.getElementById('moonIcon');
	const htmlElement = document.documentElement;

	toggleButton?.addEventListener('click', () => {
		htmlElement.classList.toggle('dark');

		sunIcon?.classList.toggle('hidden');
		moonIcon?.classList.toggle('hidden');
	});
</script>
