---
// src/layouts/BaseLayout.astro

import BaseHead from "../components/BaseHead.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main>
    <section class="fixed left-0 w-[300px] h-[100vh] mt-16 py-5 px-4 border-r-[0.05rem] border-gray-300">
        <ul>
            <slot name="sidebar" />
        </ul>
    </section>
    <slot />
</main>
<Footer />
</body>
</html>
